@CHARSET "UTF-8";

body {
	background-color: #e9ebee;
}	


.row {
	margin-bottom: 10px;
}

.col-sm-2 {
	text-align: right;
}

label {
	font-size: 16px;
}

.kpi-date input {
	width: 30%;
}

.kpi-date input {
	display: inline-block;
}

select {
	max-height: 100px;
	overflow-y: auto;
}

@media(max-width: 768px){
	.col-sm-2 {
		text-align: left;
	}
}