<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>MyThings-Dashboard</display-name>
  <listener>
    <listener-class>com.mythings.db.SessionListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>kpi</servlet-name>
    <jsp-file>/kpi.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>kpi</servlet-name>
    <url-pattern>/kpi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>noBidReason</servlet-name>
    <jsp-file>/noBidReason.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>noBidReason</servlet-name>
    <url-pattern>/noBidReason</url-pattern>
  </servlet-mapping>
</web-app>