body {
	background-color: #e9ebee;
}

.navbar-inverse {
    background-color: #2e6da4;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .top-nav>li>a  {
    color: #fff;
}
 
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.top-nav>li>a:hover, .top-nav>li>a:focus, 
.top-nav>.open>a, .top-nav>.open>a:hover, 
.top-nav>.open>a:focus {
    background-color: #1A5276;
}


label {
	font-size: 16px;
}

.blackWindow {
	position: fixed;
    top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,.6);
	display: none;
}

.loader {
	position: fixed;
    border-top: 10px solid blue;
    border-right: 10px solid green;
    border-bottom: 10px solid red;
    border-left: 10px solid yellow;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 20;
    left: 48%;
    top: 17%;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media(max-width: 1200px){
	
	.margin-bottom-6 {
		margin-bottom: 6px;
	}
}